ion-slides{
    height:100%;
}

.slide-1{
    height: 100%;
    background-color: aqua;
}

.slide-2{
    height: 100%;
    background-color: beige;
}

.slide-3{
    height: 100%;
    background-color:  ghostwhite;
}